<div class="container-fluid" data-ng-controller="HeaderController">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="/#!/">Jordan's Polling App</a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li data-ng-show="global.user" ui-route="/{{menu.link}}" ng-class="{active: $uiRoute}">
        <a href="#!/{{menu.link}}">{{menu.title}}</a>
    </li>
    <li data-ng-repeat="item in adminMenu" data-ng-show="global.user.admin" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
        <a href="#!/{{item.link}}">{{item.title}}</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right" data-ng-hide="global.authenticated">
        <li><a href="signup">Signup</a>
        </li>
        <li class="divider-vertical"></li>
        <li><a href="signin">Signin</a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" data-ng-show="global.authenticated">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{global.user.name}} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/signout">Signout</a>
                </li>
            </ul>
        </li>
    </ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
