.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.content {
    margin-top:50px;
    width:100%
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}
.control-group input[type=radio] {margin-top: -5px}
.control-group h4 {display: inline-block;margin-left: 10px}
.unstyled {padding: 0;}
.unstyled li {list-style: none}
.control-group {min-height: 50px}
.center-align {text-align: center}
.form-actions {margin-top: 15px}